:host {
  height: auto;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  border-width: thin;
  border-style: inset;
  border-color: initial;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;

  &[disabled] {
    cursor: not-allowed;

    input {
      background-color: inherit;
    }
  }

  input {
    border: none;
    outline: 0;
    line-height: 1;
    flex: 1;
  }
}
