<header class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ngx-type-ahead demo</a>
</header>
<main>
  <div class="container">
    <p>
      Demo showcase of typeahead component
    </p>
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-xl-6 col-md-12">
          <h6>Single, custom</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="hobbySingleCustom" [suggestions]="hobbies$"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="true"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="hobbySingleCustomSet" [suggestions]="hobbies$"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="true"></type-ahead>
            </div>
          </div>
          <h6>Single, fixed</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="hobbySingleFixed" [suggestions]="hobbies"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="false"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="hobbySingleFixedSet" [suggestions]="hobbies"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="false"></type-ahead>
            </div>
          </div>
          <h6>Multi, custom</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="hobbyMultiCustom" [suggestions]="hobbies"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="true" [multi]="true"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="hobbyMultiCustomSet" [suggestions]="hobbies"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="true" [multi]="true"></type-ahead>
            </div>
          </div>
          <h6>Multi, fixed</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="hobbyMultiFixed" [suggestions]="hobbies"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="false" [multi]="true"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="hobbyMultiFixedSet" [suggestions]="hobbies"
                          placeholder="Enter your value..."
                          class="form-control" [custom]="false" [multi]="true"></type-ahead>
            </div>
          </div>
          <h6>Single, complex object</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="countrySingle" [suggestions]="countries"
                          placeholder="Enter your value..."
                          class="form-control" idField="code" [complex]="true"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="countrySingleSet" [suggestions]="countries"
                          placeholder="Enter your value..."
                          class="form-control" idField="code" [complex]="true"></type-ahead>
            </div>
          </div>
          <h6>Multi, complex object with template</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="countryMulti" [suggestions]="countries$" [settings]="customSettings"
                          class="form-control" idField="code" [multi]="true" [complex]="true"
                          placeholder="Enter your value..."
                          [itemTemplate]="countryTemplate"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="countryMultiSet" [suggestions]="countries$" [settings]="customSettings"
                          class="form-control" idField="code" [multi]="true" [complex]="true"
                          placeholder="Enter your value..."
                          [itemTemplate]="countryTemplate"></type-ahead>
            </div>
            <ng-template #countryTemplate let-item="item">
              {{item.name}} ({{item.code}})
            </ng-template>
          </div>
          <h6>Multi, complex with Http call</h6>
          <div class="row">
            <div class="col-6">
              <type-ahead formControlName="planet" [suggestions]="planets$" [settings]="customSettings"
                          placeholder="Enter your value..."
                          class="form-control" idField="url" [multi]="true" [complex]="true"></type-ahead>
            </div>
            <div class="col-6">
              <type-ahead formControlName="planetSet" [suggestions]="planets$" [settings]="customSettings"
                          placeholder="Enter your value..."
                          class="form-control" idField="url" [multi]="true" [complex]="true"></type-ahead>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-12">
          <fieldset>
            <legend>Value:</legend>
            <pre>{{ myForm.value | json:2 }}</pre>
          </fieldset>
          <fieldset>
            <legend>Errors:</legend>
            {{ myForm.errors | json }}
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</main>
