<header class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Demo</a>
</header>
<main>
  <div class="container">
    <p>
      Demo showcase of typeahead component
    </p>
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-6">
          <h6>Single, custom</h6>
          <type-ahead formControlName="hobbySingleCustom" [suggestions]="hobbies"
                     class="form-control" [custom]="true"></type-ahead>
          <type-ahead formControlName="hobbySingleCustomSet" [suggestions]="hobbies"
                     class="form-control" [custom]="true"></type-ahead>

          <h6>Single, fixed</h6>
          <type-ahead formControlName="hobbySingleFixed" [suggestions]="hobbies"
                     class="form-control" [custom]="false"></type-ahead>
          <type-ahead formControlName="hobbySingleFixedSet" [suggestions]="hobbies"
                     class="form-control" [custom]="false"></type-ahead>

          <h6>Multi, custom</h6>
          <type-ahead formControlName="hobbyMultiCustom" [suggestions]="hobbies"
                     class="form-control" [custom]="true" [multi]="true"></type-ahead>
          <type-ahead formControlName="hobbyMultiCustomSet" [suggestions]="hobbies"
                     class="form-control" [custom]="true" [multi]="true"></type-ahead>

          <h6>Multi, fixed</h6>
          <type-ahead formControlName="hobbyMultiFixed" [suggestions]="hobbies"
                     class="form-control" [custom]="false" [multi]="true"></type-ahead>
          <type-ahead formControlName="hobbyMultiFixedSet" [suggestions]="hobbies"
                     class="form-control" [custom]="false" [multi]="true"></type-ahead>

          <h6>Single, template (fixed)</h6>
          <type-ahead formControlName="countrySingle" [suggestions]="countries"
                     class="form-control"></type-ahead>
          <type-ahead formControlName="countrySingleSet" [suggestions]="countries"
                     class="form-control"></type-ahead>

          <h6>Multi, template (fixed)</h6>
          <type-ahead formControlName="countryMulti" [suggestions]="countries"
                      class="form-control" [multi]="true"></type-ahead>
          <type-ahead formControlName="countryMultiSet" [suggestions]="countries"
                      class="form-control" [multi]="true"></type-ahead>
        </div>
        <div class="col-6">
          <fieldset>
            <legend>Value:</legend>
            <pre>{{ myForm.value | json:2 }}</pre>
          </fieldset>
          <fieldset>
            <legend>Errors:</legend>
            {{ myForm.errors | json }}
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</main>
